
@{
    ViewData["Title"] = "Detail";
    
}

<section class="page-title blog-page-title">
    <div class="bg-overlay bg-black opacity-6"></div>
    <div class="container">
        <h2 class="hide-cursor">Blog Detail</h2>
        <ul class="page-breadcrumb link">
            <li><a href="../index-corporate-finance.html"><span class="icon fas fa-home"></span>Home</a></li>
            <li>Blog Detail</li>
        </ul>
    </div>
</section>
<!--Banner End-->

<!-- Blog Detail starts -->
<section class="text-left">
    <div class="container">
        <div class="row">
            <!-- Blog Left Listing -->
            <div class="col-lg-8 col-md-7">
                <div class="blog-box heading-space m-md-0">
                    <!-- Blog List Inner -->
                    <div class="blog-listing-inner news_item">
                        <div class="news_desc">
                            <h3 class="text-capitalize font-weight-500"><a href="blog-detail.html" class="color-black">How To Build A Virtual Reality Model With A Real-Time Cross-Device Preview.</a></h3>
                            <ul class="meta-tags mt-20px mb-20px">
                                <li><a href="javascript:void(0)"><i class="fa fa-calendar"></i>Feb 14</a></li>
                                <li><a href="javascript:void(0)"> <i class="fa fa-user"></i> peter </a></li>
                                <li><a href="javascript:void(0)"><i class="fa fa-comments"></i>5</a></li>
                                <li><a href="javascript:void(0)"><i class="fa fa-tag"></i>work</a></li>
                            </ul>
                            <p class="mb-3 text-grey alt-font">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when a printer took a galley.</p>
                            <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec facilisis nullano volutpat justo. Nulla tempus ultricies feugiat. Duis magna risus, luctus id urna dapibus condimentum dui. Maecenas tempor non ex eu vehicula. Sed sit placerat velit.</p>
                            <blockquote class="mb-5 blockquote font-italic font-weight-light color-black"><i class="ti ti-quote-left font-30 pr-2"></i>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley</blockquote>
                            <ul class="rounded heading-space">
                                <li>Lorem Ipsum has been the industry's standard dummy text ever</li>
                                <li>Lorem Ipsum has been the industry's standard dummy text ever</li>
                                <li>Lorem Ipsum has been the industry's standard dummy text ever</li>
                                <li>Lorem Ipsum has been the industry's standard dummy text ever</li>
                                <li>Lorem Ipsum has been the industry's standard dummy text ever</li>
                            </ul>

                            <!-- Comments -->
                            <div class="agency-author">
                                <div class="author-avatar">
                                    <img alt="image" src="../corporate-finance/images/post1.jpg" class="avatar"></div>
                                <div class="author-content">
                                    <span class="text-small">Written By</span>
                                    <h6><a href="javascript:void(0);">Steve Austin</a></h6>
                                    <div class="alt-font text-grey">
                                        <p>Maecenas sit amet purus eget ipsum elementum venenatis. Aenean maximus urna magna, quis rutrum mi semper non.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="agency-author mb-5">
                                <div class="author-avatar">
                                    <img alt="image" src="../corporate-finance/images/post2.jpg" class="avatar"></div>
                                <div class="author-content">
                                    <span class="text-small">Written By</span>
                                    <h6><a href="javascript:void(0);">Ellie Smith</a></h6>
                                    <div class="alt-font text-grey">
                                        <p>Maecenas sit amet purus eget ipsum elementum venenatis. Aenean maximus urna magna, quis rutrum mi semper non.</p>
                                    </div>
                                </div>
                            </div>

                            <!-- Add-Comments -->
                            <div class="text-center text-md-left w-100 mb-3">
                                <h4 class="color-black text-capitalize mt-2 mb-2"> add comments</h4>
                            </div>
                            <div class="col-sm-12 p-0" id="result1"></div>
                            <div class="company-contact-form">
                                <form class="contact-form" id="contact-form-data">
                                    <div class="row">
                                        <!-- Submission Popup -->
                                        <div class="col-12">
                                            <div class="col-sm-12 px-0" id="result"></div>
                                        </div>

                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <input class="form-control" type="text" placeholder="First Name:" required="" id="first_name" name="firstName">
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <input class="form-control" type="text" placeholder="Last Name:" required="" id="last_name" name="lastName">
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <input class="form-control" type="email" placeholder="Email:" required="" id="email" name="userEmail">
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <input class="form-control" type="tel" placeholder="Phone:" id="phone" name="userPhone">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <textarea class="form-control" placeholder="Message" id="message" name="userMessage"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <button type="button" class="btn btn-large green-long-btn rounded-pill w-100 btn-hvr-up btn-hvr-blue mt-4 contact_btn" id="submit_btn">SUBMIT REQUEST</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Blog Widgets -->
            <div class="col-lg-4 col-md-5">
                <div class="text-left widget-blog">
                    <!-- Search Box -->
                    <div class="widget heading-space wow fadeIn" data-wow-delay="300ms">
                        <form class="search-box">
                            <div class="input-group">
                                <input type="search" class="form-control" placeholder="Search..." required>
                                <button type="submit" class="search-addon"><i class="fa fa-search line-height-35px"></i> </button>
                            </div>
                        </form>
                    </div>

                    <!-- Recent Post -->
                    <div class="widget heading-space wow fadeIn" data-wow-delay="350ms">
                        <h5 class="color-black font-weight-600 text-capitalize mb-4">Recent Posts</h5>
                        <div class="single-post mb-3">
                            <a href="javascript:void(0)" class="post"><img src="images/post1.jpg" alt="image"></a>
                            <div class="text">
                                <a href="javascript:void(0)" class="color-grey">Corporate Studio Management</a>
                                <span>July 15,2018</span>
                            </div>
                        </div>
                        <div class="single-post mb-3">
                            <a href="javascript:void(0)" class="post"><img src="images/post2.jpg" alt="image"></a>
                            <div class="text">
                                <a href="javascript:void(0)" class="color-grey">Board of Directors Conference</a>
                                <span>November 09,2018</span>
                            </div>
                        </div>
                    </div>

                    <!-- Categories -->
                    <div class="widget heading-space wow fadeIn" data-wow-delay="400ms">
                        <h5 class="color-black font-weight-600 text-capitalize">Categories</h5>
                        <div>
                            <div class="categories-name">
                                <a href="javascript:void(0)">
                                    <p class="font-16 color-grey text-capitalize">Business  <span>198</span> </p>
                                </a>
                            </div>
                            <div class="categories-name">
                                <a href="javascript:void(0)">
                                    <p class="font-16 color-grey text-capitalize">Corporate <span>119</span> </p>
                                </a>
                            </div>
                            <div class="categories-name">
                                <a href="javascript:void(0)">
                                    <p class="font-16 color-grey text-capitalize">Creative  <span>132</span> </p>
                                </a>
                            </div>
                            <div class="categories-name">
                                <a href="javascript:void(0)">
                                    <p class="font-16 color-grey text-capitalize">Finance  <span>37</span> </p>
                                </a>
                            </div>
                            <div class="categories-name mb-2">
                                <a href="javascript:void(0)">
                                    <p class="font-16 color-grey text-capitalize">Marketing  <span>30</span> </p>
                                </a>
                            </div>
                        </div>
                    </div>

                    <!-- Tags -->
                    <div class="widget mb-0 wow fadeIn" data-wow-delay="450ms">
                        <h5 class="text-black font-weight-600 mb-4 text-capitalize">Trending tags</h5>
                        <div>
                            <ul class="tags">
                                <li>
                                    <p class="font-13 text-capitalize">Business</p>
                                </li>
                                <li>
                                    <p class="font-13 text-capitalize">Corporate</p>
                                </li>
                                <li>
                                    <p class="font-13">SEO</p>
                                </li>
                                <li>
                                    <p class="font-13 text-capitalize">Creative</p>
                                </li>
                                <li>
                                    <p class="font-13 text-capitalize">Finance</p>
                                </li>
                                <li>
                                    <p class="font-13 text-capitalize">Marketing</p>
                                </li>
                                <li>
                                    <p class="font-13 text-capitalize">Envato</p>
                                </li>
                                <li>
                                    <p class="font-13 text-capitalize">Theme Development</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

